.footer img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 9px;
    filter: invert();
}

.footer h3 {
    font-size: 40px;
}

.footer {
    margin-bottom: 40px;
} 

@media(max-width: 992px) {
    .footer div {
        display: flex;
        align-items: center;
    }
    .footer img {
        height: auto;
        max-width: 100%;
        margin: 0 0 0 9px;
    }
    .footer img:first-child {
        margin: 0;
    }
}