.servicos {
    margin: 95px 0;
}

.servicos h3 {
    font-size: 40px;
    max-width: 900px;
    margin: 95px auto 0;
}

.servicos h4 {
    font-size: 24px;
    margin: 11px 0 18px;
}

.servicos p {
    font-size: 16px;
    text-align: center;
}

.servicos section{
    display: flex;
    justify-content: space-between;
}

.servico {
    max-width: 200px;
}

.servico img {
    max-width: 193px;
    border-radius: 260px;
    height: 95%;
    width: 100%;
}

.servico:hover .containerImg{
    scale: 1.05;
}

.containerImg {
    background-color: #051232;
    max-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}


@media(max-width: 992px) {
    .servicos section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .servico {
        margin-bottom: 30px;
    }
    .servico img {
        max-width: 135px
    }
    .containerImg {
        max-width: 140px;
        height: 140px;
        margin: 0 auto;
    }
    .servicos h3 {
        margin-top: 10px;
    }
    .servicos {
        margin: 40px 0;
    }
}